[Desktop Entry]
Encoding=UTF-8
Name=RÜNES
Comment=RÜNES P2P Cryptocurrency
Exec=RÜNES-qt %u
Terminal=false
Type=Application
Icon=RÜNES128
MimeType=x-scheme-handler/RÜNES;
Categories=Office;Finance;
Name[en_AU]=RÜNES
