[Unit]
Description=RÜNES's distributed currency daemon
After=network.target

[Service]
User=RÜNES
Group=RÜNES

Type=forking
PIDFile=/var/lib/RÜNESd/RÜNESd.pid

ExecStart=/usr/bin/RÜNESd -daemon -pid=/var/lib/RÜNESd/RÜNESd.pid \
          -conf=/etc/RÜNES/RÜNES.conf -datadir=/var/lib/RÜNESd

ExecStop=-/usr/bin/RÜNES-cli -conf=/etc/RÜNES/RÜNES.conf \
         -datadir=/var/lib/RÜNESd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
